{% extends 'base.html.twig' %}

{% block title %}Personal index{% endblock %}

{% block body %}
    <h1>Personal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Rol</th>
                <th>Workshops</th>
                <th>Signin</th>
                <th>Holidays</th>
                <th>Documents</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personal in personals %}
            <tr>
                <td>{{ personal.id }}</td>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_personal_new') }}">Create new</a>
{% endblock %}
