{% extends 'base.html.twig' %}

{% block title %}Edit Signin{% endblock %}

{% block body %}
    <h1>Edit Signin</h1>

    {{ include('signin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_signin_index') }}">back to list</a>

    {{ include('signin/_delete_form.html.twig') }}
{% endblock %}
